/* ==== CSS Reset ==== */

* {
    margin: 0;
    padding: 0;
}

/* ==== Base Style ==== */

body {
    font-family: 'Red Hat Display', sans-serif;
}

p {
    font-size: 16px;
}

@media only screen and (max-width:375px) {

    p {
        font-size: 14px;
    }

}

a {
    text-decoration: none;
}

/* ==== Main Style ==== */

main {
    background: url(../images/pattern-background-desktop.svg) no-repeat, hsl(225, 100%, 94%);
    background-size: contain;
}

@media only screen and (max-width:375px) {
    main {
        background: url(../images/pattern-background-mobile.svg) no-repeat, hsl(225, 100%, 94%);
        background-size: contain;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.order-card {
    background-color: hsl(0, 0%, 100%);
    max-width: 460px;
    border-radius: 20px; 
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
}

@media only screen and (max-width:375px) {

    .order-card {
        max-width: 375px;
        margin: 0 10px;
    }
}

.order-img img {
    display: block;
    width: 100%;
}

.order-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding: 50px;
}

@media only screen and (max-width:375px) {

    .order-content {
        padding: 25px 30px;
    }

}

.order-text {
    text-align: center;
}

.order-text h1 {
    font-size: 1.5rem;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    margin-bottom: 1rem;
}

.order-text p {
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}


.order-plan {
    box-sizing: border-box;
    width: 100%;
    background-color: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    gap: 1.5rem;
}

.order-plan img {
    width: 48px;
}

.subscribe :nth-child(1) {
    font-weight: 700;
    color: hsl(223, 47%, 23%);
}

.subscribe :nth-child(2) {
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

.change-sub {
    font-weight: 700;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    margin-left: auto;
    transition: color .3s;
}

.change-sub:hover {
    text-decoration: none;
    color: hsl(224, 23%, 55%);
}

.order-btn {
    width: 100%;
    text-align: center;
}

.proceed-btn {
    box-sizing: border-box;
    width: 100%;
    display: block;
    background-color: hsl(245, 75%, 52%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    padding: 15px 20px;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    transition: background-color .3s;
}

.proceed-btn:hover {
    background-color: hsl(224, 23%, 55%);
}


.cancel-btn {
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    transition: color .3s;
}

.cancel-btn:hover {
    color: hsl(223, 47%, 23%);
}

/* ==== Footer Style ==== */


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(245, 75%, 52%); 
}




